<!DOCTYPE html>
<html>
<head>
	
  <link rel="stylesheet" type="text/css" href="/styles/sobre.css">
	<link href="https://fonts.googleapis.com/css2?family=Lato:wght@300&display=swap" rel="stylesheet">
	<link href="https://fonts.googleapis.com/css2?family=Lato&display=swap" rel="stylesheet">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">

	<title>COnnectVIDa</title>

</head>
<body>
	{% include 'sobre/sobre-header.njk'%}
	{% include 'sobre/sobre-index.njk'%}
	{% include 'sobre/sobre-footer.njk'%}
</body>
</html>
