<!DOCTYPE html>
<html lang="en">
  <head>
    <title>COnnectVIDa</title>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link
      rel="stylesheet"
      href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
    />
    <link rel="canonical" href="https://getbootstrap.com/docs/4.0/examples/carousel/">
    <link rel="stylesheet" href="https://v4-alpha.getbootstrap.com/examples/carousel/carousel.css">
    <script
      src="https://kit.fontawesome.com/36785ec993.js"
      crossorigin="anonymous"
    ></script>
    <link rel="stylesheet" href="style.css" />
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    {% include 'main/header.njk'%}
  </head>
  <body>

        <div class="about-image">
        </div>
      <div class="container">

        <div class="about-text">
          <h3 class="about-title">Sobre</h3>
          <div class="description-container">
          <p class="about-description">
          O Blog CONNECTVIDA surge da iniciativa de um grupo de professoras, técnicas, alunos e alunas do IFBA Campus Irecê no contexto da pandemia da COVID-19, no qual o novo coronavírus (SARS-CoV-2) acomete a maior parte dos países, sobretudo o Brasil. Neste momento, a vida assume outras prioridades, a rotina tal qual existia, não é mais viável e o surto viral nos impõem outras práticas de vida com novas organizações e dinâmicas.

A equipe CONNECTVIDA propõe iniciativas para a organização das atividades diárias dos discentes, bem como de seus familiares, com a função de apresentar alternativas para amenizar os impactos ocasionados por esta crise. Dessa forma, o presente BLOG (informativo e de monitoramento) é fruto dessas iniciativas e não terá um tema específico, mas um objetivo específico: a saúde mental e equilíbrio emocional.

E como faremos isso? As publicações/atividades estão dividas entre os seguintes eixos: Saúde, Arte, Literatura e Tecnologia. Entendemos que tais eixos, quando pensados de forma conectada, oferecem suporte para que possamos alcançar nosso principal objetivo, melhorar a qualidade de vida dos discentes e familiares.

A expectativa é que o IFBA Campus Irecê consiga cumprir com sua responsabilidade social para com a comunidade do território, fortaleça os vínculos entre os atores da comunidade escolar, e minimize os impactos emocionais durante o estado de distanciamento. Além disso, entendemos que catalogar informações sobre os nossos estudantes e suas respectivas rotinas no período de distanciamento social poderá nos auxiliar no momento de retorno às atividades presenciais, que certamente terão uma configuração bem diferente do que estávamos acostumados.</p>          
          </div>

        </div>    
        </div>
      </div>

    {% include 'main/footer.njk'%}
  </body>
</html>