<!DOCTYPE html>
<html lang="en">

<head>
    <!-- Required meta tags-->
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="au theme template">
    <meta name="author" content="Hau Nguyen">
    <meta name="keywords" content="au theme template">

    <!-- Title Page-->
    <title>Login</title>

    <!-- Fontfaces CSS-->
    <link rel="stylesheet" href="/bootstrap/css/bootstrap.min.css">

    <!-- Main CSS-->
    <link href="/styles/login.css" rel="stylesheet">
     <link href="/bootstrap/css/overpass.css" rel="stylesheet">

</head>

<body>
<div class="container-login container">
    <div class="container-tlogin">
    <h1>COnnectVIDa</h1>
        <img src="./assets/logo.png" alt="" width="55" heigth="55">
    </div>
    <div class="container-inputs-login">
    <input class="input-user"type="text" placeholder="Usuário">
    <input class="input-password"type="password" placeholder="Senha">
    </div>
    <div class="container-btn-login">
    <button class="btn btn-success"type="submit">Entrar</button>
    </div>

</div>


</body>

</html>
<!-- end document-->