<!DOCTYPE html>
<html lang="en">
  <head>
    <title>COnnectVIDa</title>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link
      rel="stylesheet"
      href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
    />
    <link rel="canonical" href="https://getbootstrap.com/docs/4.0/examples/carousel/">
    <link rel="stylesheet" href="https://v4-alpha.getbootstrap.com/examples/carousel/carousel.css">
    <script
      src="https://kit.fontawesome.com/36785ec993.js"
      crossorigin="anonymous"
    ></script>
    <link rel="stylesheet" href="style.css" />
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
  </head>
  <body>
    <nav class="navbar navbar-expand-sm navbar-light bg-light">
      <div class="container">
        <a class="navbar-brand text-success" href="#"> COnnectVIDa </a>
        <button
          class="navbar-toggler"
          type="button"
          data-toggle="collapse"
          data-target="#navbarSupportedContent"
          aria-controls="navbarSupportedContent"
          aria-expanded="false"
          aria-label="Toggle navigation"
        >
          <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse"></div>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav mr-auto">
            <li class="nav-item active">
              <a class="nav-link" href="#">
                Início
                <span class="sr-only"> (current) </span>
              </a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#"> Sobre </a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#"> Contato </a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#"> Temas </a>
            </li>
            <div class="d-flex justify-content-center h-100">
              <div class="searchbar">
                <input
                  class="search_input"
                  type="text"
                  name=""
                  placeholder="Search..."
                />
                <a href="#" class="search_icon"
                  ><i class="fas fa-search"></i
                ></a>
              </div>
            </div>
          </ul>
        </div>
      </div>
    </nav>
            <div class="about-image">
        </div>
      <div class="container">

        <div class="about-text">
          <h3 class="about-title">Sobre</h3>
          <div class="description-container">
          <p class="about-description">
          O Blog CONNECTVIDA surge da iniciativa de um grupo de professoras, técnicas, alunos e alunas do IFBA Campus Irecê no contexto da pandemia da COVID-19, no qual o novo coronavírus (SARS-CoV-2) acomete a maior parte dos países, sobretudo o Brasil. Neste momento, a vida assume outras prioridades, a rotina tal qual existia, não é mais viável e o surto viral nos impõem outras práticas de vida com novas organizações e dinâmicas.

A equipe CONNECTVIDA propõe iniciativas para a organização das atividades diárias dos discentes, bem como de seus familiares, com a função de apresentar alternativas para amenizar os impactos ocasionados por esta crise. Dessa forma, o presente BLOG (informativo e de monitoramento) é fruto dessas iniciativas e não terá um tema específico, mas um objetivo específico: a saúde mental e equilíbrio emocional.

E como faremos isso? As publicações/atividades estão dividas entre os seguintes eixos: Saúde, Arte, Literatura e Tecnologia. Entendemos que tais eixos, quando pensados de forma conectada, oferecem suporte para que possamos alcançar nosso principal objetivo, melhorar a qualidade de vida dos discentes e familiares.

A expectativa é que o IFBA Campus Irecê consiga cumprir com sua responsabilidade social para com a comunidade do território, fortaleça os vínculos entre os atores da comunidade escolar, e minimize os impactos emocionais durante o estado de distanciamento. Além disso, entendemos que catalogar informações sobre os nossos estudantes e suas respectivas rotinas no período de distanciamento social poderá nos auxiliar no momento de retorno às atividades presenciais, que certamente terão uma configuração bem diferente do que estávamos acostumados.</p>          
          </div>

        </div>    
        </div>
      </div>

    <footer class="page-footer footer-content">
      <!-- Copyright -->
      <div class="footer-copyright text-center py-3 white container">
        <div class="icons-footer">
          <a href="https://www.facebook.com/connectvida.ifba.3"target="_blank"><i class="fab fa-facebook-f"></i>
          <a href="https://www.youtube.com/watch?v=lFUB0z-I7_0&feature=youtu.be" target="_blank"><i class="fab fa-youtube"></i>
          <a href="https://www.instagram.com/connectvida/" target="_blank"><i class="fab fa-instagram"></i></a>
          <a href="mailto:connectvidaifba@gmail.com" target="_blank"
            ><i class="fab fa-google-plus-g"></i
          ></a>
        </div>
      </div>
      <!-- Copyright -->
    </footer>
  </body>
</html>
