<footer class="page-footer footer-content ">
  <!-- Copyright -->
  <div class="footer-copyright text-center py-3 white container">
    <div class="icons-footer">
      <a href="https://www.facebook.com/connectvida.ifba.3"target="_blank"><i class="fab fa-facebook-f"></i>
      <a href="https://www.youtube.com/watch?v=lFUB0z-I7_0&feature=youtu.be" target="_blank"><i class="fab fa-youtube"></i>
      <a href="https://www.instagram.com/connectvida/" target="_blank"><i class="fab fa-instagram"></i></a>
      <a href="mailto:connectvidaifba@gmail.com" target="_blank"
        ><i class="fab fa-google-plus-g"></i
      ></a>
    </div>
  </div>
  <!-- Copyright -->
</footer>