<footer class="page-footer footer-content ">
  <!-- Copyright -->
  <div class="footer-copyright text-center py-3 white container">
    <div class="icons-footer">
      <a href="https://www.facebook.com/connectvida.ifba.3"target="_blank"><i class="fab fa-facebook-f"></i>
      <a href="https://www.youtube.com/watch?v=lFUB0z-I7_0&feature=youtu.be" target="_blank"><i class="fab fa-youtube"></i>
      <a href="https://www.instagram.com/connectvida/" target="_blank"><i class="fab fa-instagram"></i></a>
      <a href="mailto:connectvidaifba@gmail.com" target="_blank"
        ><i class="fab fa-google-plus-g"></i
      ></a>

      <div class="dev-group">
        <b> Equipe de Desenvolvimento </b>

        <div class="dev-group-member">
          Átila Gama
          <a href="https://github.com/atchim">
          <i class="fa fa-github" aria-hidden="true"></i>
          </a>
        </div>

        <div class="dev-group-member">
          Diego Almeida
          <a href="https://github.com/dieg0almeida">
            <i class="fa fa-github" aria-hidden="true"></i>
          </a>
        </div>

        <div class="dev-group-member">
          Lucas Rodrigues
          <a href="https://www.instagram.com/lucasrodrigues.designer">
            <i class="fab fa-instagram" aria-hidden="true"></i>
          </a>
        </div>

        <div class="dev-group-member">
          Sheory Machado
          <a href="https://github.com/sheory">
            <i class="fa fa-github" aria-hidden="true"></i>
          </a>
        </div>

        <div class="dev-group-member">
          Weri Oliveira
          <a href="https://github.com/werioliveira">
            <i class="fa fa-github" aria-hidden="true"></i>
          </a>
        </div>
      </div>
    </div>

  </div>
  <!-- Copyright -->

</footer>
