{% extends 'main/layout.njk' %}


{% block content %}

<div class="container">
	<div class="temas-container">
		<div class="tema-semanal-container">
			<h4>Tema Semanal</h4>
			<hr>
			<p class="title-tema-semanal">Setembro Amarelo</p>
			<button ><a href="/temas?category_name=saude" style="text-decoration: none;">ver publicações</a></button>
		</div>

		<div class="temas-mensais-container">
			<h4>Temas do mês</h4>
			<hr>
			<div class="titulos-mensais">
				<div class="weeks-1-2">
					<a href="" class="title-tema-mensal">Alívio das tensões e ansiedade</a>
				<a href="" class="title-tema-mensal">Assédio</a>
				</div>
				<div class="weeks-1-2">
					<a href="" class="title-tema-mensal">Setembro amarelo</a>
					<a href="" class="title-tema-mensal">Racismo</a>
				</div>
				
			</div>
			
		</div>
	</div>
	

	<div class="cards">

		<h1> Postagens recentes <hr></h1>

		{%for post in posts%}
		<div class="card">
			<div class="{{post.subject}}"> 
				<img src="{{post.image}}">
				<div class="texto">
					<h4 > <b><a class="title" href="/posts/{{post.id}}">{{post.title}}</a>  </b></h4>
					<p class="previa"> {{post.subtitle}}</p>
					<div class="tag1">
						<button> <a href="temas?category_name={{post.subject}}"> +{{post.subject}}</a></button> 
					</div>
					
					{%if post.subject %}
						<div class="last-update-{{post.subject}}">
		   			<p class="last-update" >{{post.updated_at}}</p>
		   			</div>
		   		{%endif%}
				</div>
			</div>						
		</div>
		{%endfor%}
	</div>

</div>
{% endblock content%}
