<nav class="nav-bar">
		<img class="logo" src="assets/logoif.jpg">

		 <div class="opcoes"> 
			 <ul>
				 	<li >
				 		<div class="dropdown"> 
				 			<a id="drop-a" href=""  class="box-opcoes">Temas</a>
				 			<div class="dropdown-content">
				 				<a href="temas?category_name=Artes">Arte</a>
				 				<a href="temas?category_name=Feminismo">Feminismo</a>
				 				<a href="temas?category_name=Saúde">Saúde</a>
				 				<a href="temas?category_name=Tecnologia">Tecnologia</a>
				 			</div>
				 		</div>
				 	</li>

				 	<li ><a href=""  class="box-opcoes">Sobre</a></li>
				 	<li ><a href=""  class="box-opcoes" id="last-a">Contato</a></li>
				 	<div class="pesquisar">
				 		<input class="input" type="search" placeholder="Buscar no blog" >
				 		<button class="button">Buscar</button>
				 	</div>
			 </ul>	

		 </div>

		 	<!--mobile version-->
	 		<div class="dropdown-media"> 
	 			
	 				<a id="drop-a" href=""  class="box-opcoes"><img src="assets/menu.png"></a>
	 			<div class="dropdown-content">
	 				
				<div class="dropdown-temas"> 
				 			<a href=""  class="box-opcoes-temas">Temas</a>
				 			<div class="dropdown-content-temas">
				 				<a href="temas?category_name=Artes">Arte</a>
				 				<a href="temas?category_name=Feminismo">Feminismo</a>
				 				<a href="temas?category_name=Saúde">Saúde</a>
				 				<a href="temas?category_name=Tecnologia">Tecnologia</a>
				 			</div>
					</div>
	 				<a href=""  class="box-opcoes">Sobre</a>
	 				<a href=""  class="box-opcoes">Contato</a>
				 	</div>
	 			</div>
	 			<div class="pesquisar-media">
				 		<input class="input-media" type="search" placeholder="Buscar no blog" >
				 		<button class="button-media">Buscar</button>
				</div>
	</nav>

