<footer class="footer-{{post.subject}}">

	<p>Entre em contato conosco: </p>

		<div class="footer-imgs"> 
		<a href="https://www.instagram.com/connectvida/"><img id="first" src="/assets/insta.png"></a>
		<a href=""><img src="/assets/yt.png"></a>
		<a href=""> <img src="/assets/gm.png"></a>
	</div>	
</footer>
