<div class="container">

	<img class="img-post" src="{{post.image}}">
	<h1 class="title">{{post.title}}</h1>

	<audio src="/assets/audio.mp3" controls></audio>

	<div class="text">
		<p>Lorem ipsum urna facilisis aenean felis habitant lacinia fusce dui aenean nulla sem dolor, phasellus molestie curabitur potenti aliquet dictum turpis bibendum donec magna ad nunc. phasellus turpis et ultricies eros consequat torquent platea potenti dui nec praesent erat, ipsum augue ullamcorper commodo mi metus suscipit senectus class ultricies. et ullamcorper curabitur fermentum nec maecenas sit ultricies risus aenean orci imperdiet quis curabitur rutrum, tellus nam inceptos erat quisque proin placerat odio pulvinar rutrum ullamcorper himenaeos. luctus purus taciti fringilla curabitur vulputate velit euismod tellus curabitur dictum, placerat dui netus conubia dolor himenaeos gravida donec egestas, fames massa sed eleifend litora primis fermentum sociosqu dictum.</p>

	<p>Tempus praesent hendrerit senectus risus non ultricies netus scelerisque, rutrum sollicitudin class senectus velit ultrices aenean mollis, sem magna auctor id justo faucibus condimentum. tempus nostra cursus commodo consequat curabitur donec nullam pretium nulla, nibh per varius at auctor placerat ornare sollicitudin erat viverra, semper volutpat erat molestie gravida imperdiet dolor proin. curabitur quis sapien ultrices velit accumsan massa aenean mattis eu venenatis cursus mauris, morbi eget bibendum integer curabitur pretium curabitur euismod iaculis sollicitudin mauris, nullam taciti elementum vestibulum vitae integer velit ut condimentum congue quisque. aliquam donec non eros varius primis justo viverra, rhoncus class cubilia fermentum cursus sagittis, egestas himenaeos hendrerit curabitur duis vitae. </p>
	</div>

	<video controls src="/assets/video.mp4"></video>

		<div class="text">
		<p>Lorem ipsum urna facilisis aenean felis habitant lacinia fusce dui aenean nulla sem dolor, phasellus molestie curabitur potenti aliquet dictum turpis bibendum donec magna ad nunc. phasellus turpis et ultricies eros consequat torquent platea potenti dui nec praesent erat, ipsum augue ullamcorper commodo mi metus suscipit senectus class ultricies. et ullamcorper curabitur fermentum nec maecenas sit ultricies risus aenean orci imperdiet quis curabitur rutrum, tellus nam inceptos erat quisque proin placerat odio pulvinar rutrum ullamcorper himenaeos. luctus purus taciti fringilla curabitur vulputate velit euismod tellus curabitur dictum, placerat dui netus conubia dolor himenaeos gravida donec egestas, fames massa sed eleifend litora primis fermentum sociosqu dictum.</p>
	</div>
	<p class="data-post">Publicado em: {{post.updated_at}}</p>
</div>

<br>

<div class="comments-container">

	<h4>COMENTÁRIOS</h4>

	<div class="comentario">
		<div class="dados-comments-container">
			<h6>User Name</h6>
			<p class="dot">•</p>
			<p class="data">22/08/2020</p>
		</div>
	
		<p class="comment-text">Lorem ipsum urna facilisis aenean felis habitant lacinia fusce dui aenean nulla sem dolor, phasellus molestie curabitur potenti aliquet dictum turpis </p>
	</div>

	

	<div class="comentario">
		<div class="dados-comments-container">
			<h6>User Name</h6>
			<p class="dot">•</p>
			<p class="data">22/08/2020</p>
		</div>
	
		<p class="comment-text">Lorem ipsum urna facilisis aenean felis habitant lacinia fusce dui aenean nulla sem dolor, phasellus molestie curabitur potenti aliquet dictum turpis </p>
	</div>

	

	<div class="comentario">
		<div class="dados-comments-container">
			<h6>User Name</h6>
			<p class="dot">•</p>
			<p class="data">22/08/2020</p>
		</div>
	
		<p class="comment-text">Lorem ipsum urna facilisis aenean felis habitant lacinia fusce dui aenean nulla sem dolor, phasellus molestie curabitur potenti aliquet dictum turpis </p>
	</div>



</div>

<div class="comments"> 
	<form method="POST" action="/postcomment/{{post.id}}">
		<h4>DEIXE SEU COMENTÁRIO</h4>
		<div class="dados">
			<input type="text" placeholder="Seu nome" name="name" required>
   		<input type="email" placeholder="Seu email" name="email" required>
		</div>

  	<div class="comment">
  		<textarea rows="4"  placeholder="Deixe aqui seu comentário..." name="body" required></textarea>
  	</div>
  	
  	<button type="submit" class="comment-button">Enviar Comentário</button>
	</form>
</div>

<br>

