<!DOCTYPE html>
<html>
				<head>
								<title>COnnectVIDa</title>

								<link rel="stylesheet" type="text/css" href="/styles/post.css">

								<link href="https://fonts.googleapis.com/css2?family=Lato&display=swap" rel="stylesheet">

								{% include 'postagems/post-header.njk'%}
				</head>
				<body>
								{% include 'postagems/post-index.njk'%}
								{% include 'postagems/post-footer.njk'%}
				</body>
</html>