/* FOOTER DESIGN */
.icons-footer {
  margin: 25px 25px;
}
.icons-footer a {
  color: rgba(0,0,0,.5);
  padding: 15px;
  margin: 10px;
}
.icons-footer a:hover {
  text-decoration: none;
  color: #28a745;
}
.footer-content {
  border-top: #e0e0e0 1px solid;
  background-color: #f8f9fa;
  width: 100%;
}
/* FOOTER END */