body{
  background-color: rgb(238,238,238) !important;
}

/*carousel*/
.carousel-caption {
  background-color: rgba(0,0,0,0.25);
  border-radius: 7px;
}

.carousel-caption h1, .carousel-caption p  {
  padding-left: 1rem;
  padding-right: 1rem;
}

.carousel-caption a {
  background-color:  #299440;
  border-color:  #299440;
  color: white;
}

.carousel-caption a:hover, .carousel-caption a:active{
  background-color:  rgb(40,170,69);
  border-color:  rgb(40,170,69);
  color: white;
}

.carousel-caption button a:active{
  background-color: rgb(40,170,69);
  border-color: rgb(40,170,69);
  color: white;
}
/*cards*/

.container-fluid {
  background: white;
  width: 85%;
  margin-top: 2rem;
  margin-bottom: 2rem;
  border-radius: 5px;
  padding-right: 1.5rem;
  padding-left: 1.5rem;
}

h1 {
  padding-top: 1.5rem;
  padding-bottom: 1rem;
}

img.card-img-top {
  max-height: 220px;
  min-height: 220px;
}
a.theme {
  font-size: 1.1rem;
}
.theme {
  width: 100%;
  margin-left: -2px;
}
.theme-img, .create-post {
  margin-left: -2px;
  margin-top: -2px;
  width: 1.8rem;
  height: 1.8rem;
}
.h4, h4 {
  font-size: 1.5rem;
}
.card-title a {
  color: black;
}
.card-saúde {
  border: solid 1px #1a68b8;
}
.card-tecnologia {
  border: solid 1px #0c8c6a;
}
.card-artes {
  border: solid 1px #eb7d16;
}
.card-literatura{
  border: solid 1px #803387;
}
.create-post  img {
  margin-top: -2px;
  width: 1.8rem;
  height: 1.8rem;
}
.create-post  {
  width: 100%;  
  margin-left: -5px;
  font-size: 0.8rem;
  color: #999999;
}
.card-tecnologia a.theme {
  color: #0c8c6a;
}
.card-saúde a.theme {
  color: #1a68b8;
}
.card-artes a.theme {
  color: #eb7d16;
}
.card-literatura a.theme{
  color: #803387;
}
.card-footer {
  padding: .75rem 1.25rem;
  background-color: transparent; 
  border-top: none;
}

.btn-card  {
  border: solid 1px #1a68b8;
  color: black;
  font-weight: 500;
  font-size: 1rem;
  float: right;
}

.btn-card a:hover {
  text-decoration-line: none;
}

/* Healthy Card Button */

.card-saúde .btn-card {
  background-color: transparent;
  border-color: #1a68b8;
}

.card-saúde button.btn.btn-primary.btn-card:active {
  background-color: #1a68b8c0;
}

.card-saúde button.btn.btn-primary.btn-card:active a {
  color: white;
}

.card-saúde .btn-card:hover {
  background-color: #1a68b840;
}

.card-saúde .btn-card a {
  color: #1a68b8;
}

/* Art Card Button */

.card-artes .btn-card {
  background-color: transparent;
  border-color: #eb7d16;
}

.card-artes button.btn.btn-primary.btn-card:active {
  background-color: #eb7d16c0;
}

.card-artes button.btn.btn-primary.btn-card:active a {
  color: white;
}

.card-artes .btn-card:hover {
  background-color: #eb7d1640;
}

.card-artes .btn-card a {
  color: #eb7d16;
}

/* Tecnology Card Button */

.card-tecnologia .btn-card {
  border-color: #0c8c6a;
  background-color: transparent;
}

.card-tecnologia button.btn.btn-primary.btn-card:active {
  background-color: #0c8c6ac0;
}

.card-tecnologia button.btn.btn-primary.btn-card:active a {
  color: white;
}

.card-tecnologia .btn-card:hover {
	background-color: #0c8c6a40;
}

.card-tecnologia .btn-card a {
  color: #0c8c6a;
}

.card-literatura .btn-card {
  background-color: transparent;
  border-color: #803387;
}
.card-literatura .btn-card a {
  color: #803387;
}
.card-literatura .btn-card:hover {
	background-color: #80338740;
}
.card-literatura button.btn.btn-primary.btn-card:active a {
  color: white;
}
.card-literatura button.btn.btn-primary.btn-card:active {
  background-color: #803387c0;
}

/*end cards*/


.content-container {
  background-color: #f8f9fa;
  width: 100%;
  max-width: 100%;
  height: 300px;
  padding: 0;
  margin: 0;
}

@media only screen and (min-width: 1015px) and (max-width: 1167px) {
  .container-fluid {
    width: 90%;
    
  }
}


@media only screen and (max-width: 1167px) {
  .container-fluid {
    padding-right: 1rem;
    padding-left: 1rem;
    
  }
}

@media only screen and (min-width: 995px) and (max-width: 1035px) {
  .container-fluid {
    width: 95%;
    
  }

}

@media only screen and (min-width: 771px) and (max-width: 779px) {
  .container-fluid {
   width: 92%;  
  }
}

@media only screen and (min-width: 620px) and (max-width: 770px) {
  .container-fluid {
    width: 65%;
    
  }
}

@media only screen and (min-width: 530px) and (max-width: 575px) {
  .container-fluid {
    width: 65%;
    
  }
}

@media only screen and (max-width: 477px) {
  .container-fluid {
    width: 85%;
    
  }
}

@media only screen and (max-width: 390px) {
  .container-fluid {
    width: 95%;
    
  }
}
