/*nav-bar*/

.nav-bar {

	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	width: 100%;
	height: 3.5rem;
	display: flex;
	background-color: red;
}




.nav-bar-artes {
	/*background-color: #E66800; cor mais forte*/
	background-color: #E66820;/* cor mais suave*/
	width: 100%;
}


.nav-bar-feminismo {
	background-color: #803387;
	width: 100%;
}


.nav-bar-tecnologia {
	background-color: rgb(36, 142, 30);
	width: 100%;
}


.nav-bar-saúde {
	background-color: rgba(0, 91, 150, 0.9);
	width: 100%;
}


.nav-bar img {
	margin-top: -5px;
	width: 60px;
	height: 80px;
	/*box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);*/
	box-shadow: 0 4px 8px 0  rgba(0, 0, 0, 0.2);
}

.logoif img{
	float: left;
}

.opcoes {
	width: 100%;
}

ul { 
	text-align: center;
	margin-top: -76px;
	
	padding-left: 120px;
}


li {
	display: inline-flex;
	font-size: 0.55cm;
	/*border: 2em;*/
	float: center;
	padding-left:17px;
	paint-order: 17px; 	
}

li a {
	font-family:'Lato', sans-serif;
	text-align: center;
	padding-top: 14px ;
	padding-bottom: 14px;
	padding-left: 14px;
	padding-right:14px; 	
	text-decoration: none;
	color: white;
	/*margin-right: 50px;*/

}




a.box-opcoes-saúde:hover {	
	transition: 0.4s;
	background-color:  rgb(0, 100, 150);
}

a.box-opcoes-tecnologia:hover {	
	transition: 0.4s;
	background-color: rgba(43, 171, 39, 0.7);
}

a.box-opcoes-artes:hover {	
	transition: 0.4s;
	background-color: rgba(240, 118, 30, 0.8);
}

a.box-opcoes-feminismo:hover {	
	transition: 0.4s;
	background-color: #805284;
}



#last-a {
	margin-right: -200px;
}



.input {
	padding: 0.2%;

  color: #495057;
  width: 8rem;
  background-color: #fff;
  border: 1px solid white;
  border-radius: 2.7px;
  padding: 5px;
  font-size: 14px;
  margin-right: 1rem;

}

.button {
	color: white;
  width: 5rem;
  height: 1.8rem;
  padding: 5px;
  border-radius: 5px 5px;
  border: 1px solid #ced4da;
  background-color: rgba(0,0,0,0);
  border: 1px solid rgb(250, 250, 250);
  border-radius: 4px ; 
  font-size: 1rem;
}

.nav-bar-tecnologia .button {
	border: 1px solid #ced4da;
	background-color: rgb(36, 142, 30);
}

.button:hover {
	background-color: rgba(250,250,250,0.1);
}

.pesquisar {
	padding-top: 12px;
	width: 15rem;
	float: right;
	margin-right: 20px;

}

.img-tema {
	padding-top: 6px;	
	width: 8%;
	float: right;
	margin-right: 10px;
} 

.img-tema img{
	width: 50px;
	height: 50px;

	box-shadow: 0px 0px;
}



/*dropdown*/
.dropdown {
  position: relative;
  display: inline-block;
  text-align: center;
  margin-top:5px;
}


.dropdown-content-feminismo, .dropdown-content-saúde, .dropdown-content-artes, .dropdown-content-tecnologia {
	display: none; /*nao exibir opções antes do hover*/
  position: absolute;
  background-color: rgb(0, 91, 130);
  width: 150px;
  border-radius:  0px 7px 7px 7px;
  /*min-width: 160px;*/
  box-shadow: 4px 4px 4px 4px rgba(0,0,0,0.1);
  z-index: 1;
} 

.dropdown-content-feminismo {
 
	background-color: #903390;
}

.dropdown-content-saúde {

  background-color: rgb(0, 91, 130);
}

.dropdown-content-artes {

	background-color: #E66807;

}

.dropdown-content-tecnologia {
 
	background-color: rgb(40, 152, 10);
}


.dropdown-content-feminismo a, .dropdown-content-saúde a, .dropdown-content-artes a, .dropdown-content-tecnologia a {
  color: white;
  
  /*padding: 12px 16px;*/
  text-decoration: none;
  display: block;
  font-size: 17px;
}

.dropdown-content-feminismo a:hover, .dropdown-content-saúde a:hover, .dropdown-content-artes a:hover, .dropdown-content-tecnologia a:hover{

  border-radius:  0px 7px 7px 7px;
}

.dropdown-content-feminismo a:hover {
	background-color: #905294;
}

.dropdown-content-saúde a:hover {
	background-color: rgba(0, 100, 250, 0.3);
}

.dropdown-content-artes a:hover {
	background-color: rgba(250, 116, 20,0.7);
}

.dropdown-content-tecnologia a:hover {
	background-color: rgba(43, 171, 39, 0.7);
}


.dropdown:hover .dropdown-content-feminismo, .dropdown:hover .dropdown-content-saúde, .dropdown:hover .dropdown-content-artes, .dropdown:hover .dropdown-content-tecnologia{
	display: block;
}



/*end nav-bar*/



body {
	background-color: rgb(238,238,238);
	margin: 0;
}

/*container*/
.container {

	border-radius: 7px;

	display: grid;
	margin-right: auto;
	margin-left: auto;

	margin-top: 55px;
	width: 70%;

	min-width: 600px;
	background-color: white;
	padding-bottom: 10px;
}


.img-post {

	
	margin-left: auto;
	margin-right: auto;
	width: 80%;
	min-width: 400px;
	height: 460px;
}

img.img-post {
	border-radius: 0 0 8px 8px;
	

}

.title {
	padding: 10px 35px;
	
	margin-left: auto;
	margin-right: auto;
	width: 80%;
}

h1 {
	font-family: sans-serif;
	font-size: 40px;
}

audio {
	margin-left: auto;
	margin-right: auto;
	width: 80%;
	height: 40px;
}

.text {
	padding-top: 30px;	
	width: 80%;
	margin-left: auto;
	margin-right: auto;

}

p {
	font-family:  sans-serif;
	line-height: 1.6;
	font-size: 17px;
}

video {
	margin-left: auto;
	margin-right: auto;
	width: 80%;
	height: 400px;
	background-color: rgba(0,0,0,0.7);
	border-radius: 10px;
}


.data-post {
	width: 80%;
	margin-right: auto;
	margin-left: auto;
	

	text-align: right;
	padding-bottom: 0;
}

p.data-post {
	font-size: 12px;
	font-family: sans-serif;
	color: rgba(0,0,0,0.7);
}

/*Fazer comentários*/
.comments {

	border-radius: 7px;

	display: grid;
	margin-right: auto;
	margin-left: auto;

	margin-top: 50px;
	margin-bottom: 25px;
	width: 70%;

	min-width: 600px;
	background-color: white;
}

form {
	padding-top: 20px;
	font-family:  sans-serif;
	margin-left: auto;
	margin-right: auto;
	width: 80%;
	display: grid;
}

h4 {
	text-align: center;
	font-size: 20px;
}

.dados {
	display: inline-flex;
	justify-content: center;
	padding-bottom: 20px;
}

.dados input {
	margin: 20px;
	width: 40%;
	height: 40px;
}

.comment {

	margin-right: auto;
	margin-left: auto;
	width: 88%;

}

textarea {
	width: 100%;
	min-width: 100%;
	max-width: 100%;
	min-height: 50px;
	font: 400 13.3333px Arial;

}

.comments textarea, .comments input {
	font-size: 15px;
	text-align: left;
	border-width: 1.4px;
	border-radius: 5px;
	border-color: rgba(0,0,0,0.3);
}

.comment-button {
	margin-top: 15px;
	margin-bottom: 15px;
	padding: 9px;
	margin-right: auto;
	margin-left: auto;

	font-family: sans-serif;
	background-color: rgba(0,0,0,0.9);
	border-radius: 4px 10px;
	color: white;
	border-width: 1px;
	border-color: rgba(0,0,0,0);
}

.comment-button:hover {
	background-color: rgba(0,0,0,0.8);
}


/*comentarios feitos*/


.comments-container {

	min-width: 585px;
	padding-left: 10px;
	padding-right: 10px;
	padding-bottom: 40px;

	background-color: white;
	width: 69%;
	margin-right: auto;
	margin-left: auto;


	border-radius: 7px;
}


.comentario {
	margin-right: 10%;
	margin-left: 10%;
	margin-bottom: 15px;
	background-color: rgba(0,0,0,0.1);
	display: grid;
	border-radius: 10px;
	height: 100px;
	align-items: center;
	
}

.dados-comments-container {
	width: 30%;
	display: flex;

	margin: 10px;
	margin-top: -10px;
}

.comment-text {
	margin: 10px;
	margin-top: -30px;
} 

h6,  p.data, p.dot {

	font-family: sans-serif;
	font-weight:300;
	font-size: 13px;
	margin-right: 10px;
	color: rgba(0,0,0,0.7);
}

h6 {
	margin-top: 12px;

}

hr {
	width: 80%;
}

.comments-container h4 {
	font-family:  sans-serif;
	text-align: left;
	
	padding-bottom: 10px;
	padding-top: 40px;
	margin-right: 10%;
	margin-left: 10%;
}

p.data {

	margin-top: 10px;

	font-size: 12px;
}

p.dot {
	margin-top: 10px;

	font-size: 12px;
}

/*
h6 {
	margin-top: 50%;
	font-family: sans-serif;
	font-weight: 300;
	font-size: 15px;


	border-style: solid ;
	border-radius: 7px;
	padding: 10px;

	border-width: 1.5px;
	border-color: rgba(0,0,0,0.4);

	width: 90px;
}
/*




h6 , p.data  {
	font-family: sans-serif;
	font-weight: 300;
	font-size: 15px;


	border-style: solid ;
	border-radius: 7px;
	padding: 10px;

	border-width: 1.5px;
	border-color: rgba(0,0,0,0.4);


	margin-right: 10px;
}
*/

/*footer*/

footer	{
	color: white;
	width: 100%;
	height: 85px;
	display: flex;
}


.footer-feminismo {
	background-color: #803387;
}

.footer-artes {
	background-color: #E66820;
		width: 100%;
	height: 85px;
}

.footer-tecnologia {
	background-color: rgb(36, 142, 30);
}

.footer-saúde {
	background-color: rgba(0, 91, 150, 0.9);
}

footer p {
	/*margin-top: -8px;*/ 
	font-family: 'Lato', sans-serif; 
	margin-left: 10px;
	width: 17%;
	font-size: 1rem;
}



footer img{
	width: 2rem;
	height: 2rem;
  	margin: 10px;
}

.footer-imgs {
	margin-right: auto;
	margin-left: auto;
	margin-top: auto;
	margin-bottom: auto;
	display: inline-flex;
  	float: center;
  	width: 25%;
	text-align: center;
}

