/* TOPIC DESIGN */ 
.container-topic{
    background-color: white;
  }
.post-container {
  width: 90%;
}
.image-topic{
    background: url(img/Capa.jpg) no-repeat center;
    background-size: cover;
    width: 50%;
    height: 400px;
    left: 0;
    transform: translateX(50%);
    margin-bottom: 25px;
    border-radius: 10px;
  }

p.text-topic {
  line-height: 1.6;
  font-size:1.2rem;
  text-align: justify;
}

.post-container {
  margin-right: auto;
  margin-left: auto;
}
.container-image img {
  width: 100%;
  height: auto;
  border-radius: 5px;
}
.container-image{
  position: relative;
    top: 30px;
    width: 96%;
    max-width: 960px;
    margin: 0 auto; /* to center the container */
  }
  .text-topic{
    text-align: justify;
    margin: 0 !important;
  }
  .text-container{
    margin-top: 50px;
    padding-bottom: 50px;
  }
  .title-topic{
    font-weight: 800;
    font-size: 2rem;
    inline-size: 5em;
    color: rgb(78, 78, 78);
    width: 80%;
    padding-top: 2rem;
    padding-bottom: 1rem;
  }

  audio {
    width: 100%;
    margin-top: 1rem;
  }

  }
  .date-topic{
    padding-bottom: 30px;
    color: #28a745;
    line-height: 5rem;
    font-weight: 800;
  }
  .border-title{
    width: 100%;
    height: 1px;
    display: block;
    margin-top: -90px;
    background-color: rgb(170, 170, 170);
  }
  .fb-comments{
    padding-bottom: 30px;
  }
  @media screen and (max-width: 420px) {
    .image-topic{
    transform: translateX(0%);
    width: 100%;
  }
}
/* END TOPIC DESIGN */ 
