/*nav bar*/

.nav-bar {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    width: 100%;
    height: 3.4rem;

    background-color: rgb(36, 142, 56);
    display: flex;

}

.nav-bar img {
    margin-top: -5px;
    width: 60px;
    height: 80px;
    box-shadow: 0 4px 8px 0  rgba(0, 0, 0, 0.2);
}

.opcoes {
    width: 100%;
    position: relative;
    display: inline-block;
}

li {
    display: inline;
    font-size: 0.55cm;
    /*border: 2em;*/
    float: center;

}

li a {
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    color: white;font-size: 20px;
    font-family: 'Lato', sans-serif;
    font-weight: 400;
}

/*dropdawn*/

.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-content {
    display: none; /*nao exibir opções antes do hover*/
    position: absolute;
    background-color: rgb(34,155,34);
    width: 150px;
    border-radius:  0px 7px 7px 7px;
    /*min-width: 160px;*/
    box-shadow: 4px 4px 4px 4px rgba(0,0,0,0.1);
    z-index: 1;
}

.dropdown-content a {
    color: white;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    font-size: 17px;
    font-family: 'Lato', sans-serif;
    font-weight: 400;
}

.dropdown-content a:hover {
    background-color: rgba(34,170,34,0.9);
    border-radius:  0px 7px 7px 7px;
}

.dropdown:hover .dropdown-content {
    display: block;

}

.box-opcoes{

}

.box-opcoes:hover {
    transition: 0.4s;
    background-color: rgba(43, 171, 39, 0.7);
}

ul {
    text-align: center;
}

#last-a {
    margin-right: -200px;
}

.pesquisar {
    margin-top: -3px;
    width: 30%;
    float: right;
    /*margin-right: 4rem!important;*/

}

.input {
    color: #495057;
    width: 137px;
    background-color: #fff;
    border: 1px solid #ced4da;
    border-radius: 2px;
    padding: 5px;
    font-size: 14px;
}

.button {
    color: white;
    width: 100px;
    padding: 5px;
    border-radius: 4px 5px;
    border: 1px solid #ced4da;
    background-color: rgb(118, 118, 118);
    border: 1px solid white;
    border-radius: 4px ;
    background-color: #248e38;
    font-size: 1rem;
}

.button:hover {
    background-color: rgba(43, 171, 39, 0.7);
}

/*end-nav bar*/

body {
  margin: 0;
  padding: 0;
}
/*container*/
.container {
  /*min-height: 800px;*/
  font-family: sans-serif;
  padding-top: 7%;
  padding-bottom: 7%;
  margin-right: auto;
  margin-left: auto;
  width: 70%;
  font-size: 100%;
}

p {
  text-align: justify;
}

/*footer*/


footer  {
  color: white;
  width: 100%;
  height: 100px;
  background-color: rgba(36, 142, 56);
  display: flex;
  margin-bottom: 0;
}

footer p {
  text-align: left;
  font-family: 'Lato', sans-serif; 
  margin-left: 10px;
  width: 17%;
  font-size: 1rem;
}

footer img{
  width: 2rem;
  height: 2rem;
    margin: 10px;
}

.footer-imgs {
  margin-right: auto;
  margin-left: auto;
  margin-top: auto;
  margin-bottom: auto;
  display: inline-flex;
    float: center;
    width: 25%;
  text-align: center;
}


.dropdown-media {
  display: none;
}

.pesquisar-media {
  display: none;
}


@media only screen and (max-width: 959px) {

  .menor-buscar button {
    display: none;
  }

  .opcoes {
    display: none;
  }


  /*dropdawn*/

  .dropdown-media {

    position: relative;
    display: block;
    width: 60px;
    background-color: rgb(36, 142, 56);
    margin-left: 10px;
    border: none;
  }

  .dropdown-media:hover {
    cursor: move;
    background-color: red;
  }

  button#drop-a.box-opcoes {
    background-color: rgb(36, 142, 56);
    border: none;
  }

  .box-opcoes button {
    background-color: rgb(36, 142, 56);
    border: none;
    
  }

  .dropdown-media img {   
    
    height: 42px;
    width: 42px;
    background-color: rgb(36, 142, 56);
    margin-left: auto;
    margin-right: auto;
    margin-top: 4px;
    margin-bottom: 3px;
    box-shadow: 0px 0px;
  }

  .dropdown-content {
    text-align: center;
    display: none; /*nao exibir opções antes do hover*/
    position: absolute;
    background-color: rgb(34,155,34);
    border-radius:  0px 7px 7px 7px;
    /*min-width: 160px;*/
    box-shadow: 4px 4px 4px 4px rgba(0,0,0,0.1);
    z-index: 1;
  }

  .dropdown-content a, .dropdown-content button {
    color: white;
    text-decoration: none;
    display: block;
    font-size: 17px;
    font-family: 'Lato', sans-serif;
    font-weight: 400;
  }

  .dropdown-content button {
    background-color:  rgb(34,155,34);
    border: none;
    padding: 12px;
  }

  .dropdown-content a:hover, .dropdown-content button:hover {
    background-color: rgba(34,170,34,0.9);
    border-radius:  0px 7px 7px 7px;
  }

  .box-opcoes-temas a {
    width: 120%;
  }

  .dropdown-media:hover .dropdown-content {
    display: block;

  }

  .dropdown-media:hover {
    background-color: rgba(43, 171, 39, 0.7);

  }

  .pesquisar-media {

    display: inline-flex;
    justify-content: center;
    align-items: center;
    
    padding-left: 20%;
    padding-right: 3%;
    text-align: center;
    width: 270px;
    margin-left: 2%;
  }

  .maior-buscar {
    display: none;
  }
  .input-media {
    width: 250px;
    height: 30px;
    border: none;

    border-radius: 2px 3px;
    font-size: 14px;
    font-family: 'Lato', sans-serif;
    font-weight: 400;
    margin-right: 3%;
  }

  .menor-buscar img {
    margin-top: 3px;
    width: 25px;
    height: 24px;
    box-shadow: 0px 0px;
  }

  .menor-buscar button {
    width: 37px;
    height: 31px;
    display: block;
    background-color: rgb(34,155,34);
    border: none;
  }

  /*dropdown temas*/
  /*.dropdown-temas {
    padding: 12px 16px;
  }*/

  button.box-opcoes-temas {
    padding: 12px 16px;
    width: 150px;
  }

  .dropdown-content-temas {
    margin-left: 100px;
    margin-top: -20px;
    display: none; /*nao exibir opções antes do hover*/
    position: absolute;
    background-color: rgb(36, 142, 56);
    width: 150px;
    border-radius:  0px 7px 7px 7px;
    /*min-width: 160px;*/
    box-shadow: 4px 4px 4px 4px rgba(0,0,0,0.1);
    z-index: 1;
  }

  .dropdown-content-temas a {
    color: white;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    font-size: 17px;
    font-family: 'Lato', sans-serif;
    font-weight: 400;
  }

  #temas-a {
    width: 100%;
    margin-right: 50px;
  }

  .dropdown-content-temas a:hover {
    background-color: rgba(34,170,34,0.9);


    border-radius:  0px 7px 7px 7px;
  }

  .opcoes {
    display: none;
  }

  /*end-nav-bar*/
}

@media only screen and (max-width: 759px) {
  .container {
    margin-top: 30px;
  }
  
   .pesquisar-media {

    display: inline-flex;
    justify-content: center;
    align-items: center;
    
    padding-left: 12%;
    padding-right: 3%;
    text-align: center;
    width: 270px;
    margin-left: 2%;
  }

}



@media only screen and (max-width: 530px) {
  .dropdown-media {
    margin-top: -1px;
  }
  .container {
    margin-top: 50px;
    width: 90%;
  }
   .pesquisar-media {

    display: inline-flex;
    justify-content: center;
    align-items: center;
    
    padding-left: 3%;
    padding-right: 3%;
    text-align: center;
    width: 270px;
    margin-left: 2%;
    margin-left: 0;
  }

}



@media only screen and (max-width: 380px) {
  .dropdown-media {
    margin-left: 0;
  }
  .dropdown-media img {   
    height: 35px;
    width: 35px;
    margin-top: 10px;

  }
  /*.nav-bar {
    min-width: 360px;
  }*/

  /*.container {
    min-width: 360px;
  }*/
   .pesquisar-media {

    display: inline-flex;
    justify-content: center;
    align-items: center;
    
    padding-left: 0;
    padding-right: 3%;
    text-align: center;
    width: 220px;
    margin-left: 0;

  }
  .input-media {
    height: 27px;
  }

  .menor-buscar button {
    padding-left: 0;
  }

}