/*nav-bar*/

.nav-bar {
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	width: 100%;
	height: 3.5rem;
	display: flex;

}


.nav-bar-artes {
	/*background-color: #E66800; cor mais forte*/
	background-color: #E66820;/* cor mais suave*/
	width: 100%;
}


.nav-bar-literatura {
	background-color: #803387;
	width: 100%;
}


.nav-bar-tecnologia {
	background-color: rgb(36, 142, 30);
	width: 100%;
}


.nav-bar-saúde {
	background-color: rgb(0, 91, 150);
	width: 100%;
}

.nav-bar img {
	margin-top: -5px;
	width: 60px;
	height: 60px;
	/*box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);*/
	box-shadow: 0 4px 8px 0  rgba(0, 0, 0, 0.2);
}

.logoif img{
	float: left;
}

.opcoes {
	width: 100%;
}

li {
	display: inline;
	font-size: 0.55cm;
	/*border: 2em;*/
	float: center;
	padding-left:20px; 	
}

li a {
	font-family:'Lato', sans-serif;
	text-align: center;
	padding-top: 14px ;
	padding-bottom: 14px;
	padding-left: 14px;
	padding-right:14px; 	
	text-decoration: none;
	color: white;
	/*margin-right: 50px;*/

}



a.box-opcoes-saúde:hover {	
	transition: 0.4s;
	background-color:  rgb(0, 100, 150);
}

a.box-opcoes-tecnologia:hover {	
	transition: 0.4s;
	background-color: rgba(43, 171, 39, 0.7);
}

a.box-opcoes-artes:hover {	
	transition: 0.4s;
	background-color: rgba(240, 118, 30, 0.8);
}

a.box-opcoes-literatura:hover {	
	transition: 0.4s;
	background-color: #805284;
}

ul {
	text-align: center;

}

#last-a {
	margin-right: -200px;
}



.input {
	padding: 0.2%;

  color: #495057;
  width: 8rem;
  background-color: #fff;
  border: 1px solid white;
  border-radius: 2.7px;
  padding: 5px;
  font-size: 14px;
  margin-right: 1rem;

}

.button {
	color: white;
  width: 5rem;
  height: 1.8rem;
  padding: 5px;
  border-radius: 5px 5px;
  border: 1px solid #ced4da;
  background-color: rgba(0,0,0,0);
  border: 1px solid rgb(250, 250, 250);
  border-radius: 4px ; 
  font-size: 1rem;
}

.nav-bar-tecnologia .button {
	border: 1px solid #ced4da;
	background-color: rgb(36, 142, 30);
}

.button:hover {
	background-color: rgba(250, 250, 250, 0.1);
}

.pesquisar {
	top: -80px;
	width: 15rem;
	float: right;
	margin-right: -20px;

}

.img-tema {
	margin-top: -7px;	
	width: 10%;
	float: right;
} 

.img-tema img{
	width: 50px;
	height: 50px;

	box-shadow: 0px 0px;
}




/*dropdown*/
.dropdown {
  position: relative;
  display: inline-block;
  text-align: center;
  margin:0;
}


.dropdown-content-literatura, .dropdown-content-saúde, .dropdown-content-artes, .dropdown-content-tecnologia {
	display: none; /*nao exibir opções antes do hover*/
  position: absolute;
  background-color: rgb(0, 91, 130);
  width: 150px;
  border-radius:  0px 7px 7px 7px;
  /*min-width: 160px;*/
  box-shadow: 4px 4px 4px 4px rgba(0,0,0,0.1);
  z-index: 1;
} 

.dropdown-content-literatura {
 
	background-color: #903390;
}

.dropdown-content-saúde {

  background-color: rgb(0, 91, 130);
}

.dropdown-content-artes {

	background-color: #E66807;

}

.dropdown-content-tecnologia {
 
	background-color: rgb(40, 152, 10);
}


.dropdown-content-literatura a, .dropdown-content-saúde a, .dropdown-content-artes a, .dropdown-content-tecnologia a {
  color: white;
  
  /*padding: 12px 16px;*/
  text-decoration: none;
  display: block;
  font-size: 17px;
}

.dropdown-content-literatura a:hover, .dropdown-content-saúde a:hover, .dropdown-content-artes a:hover, .dropdown-content-tecnologia a:hover{

  border-radius:  0px 7px 7px 7px;
}

.dropdown-content-literatura a:hover {
	background-color: #905294;
}

.dropdown-content-saúde a:hover {
	background-color: rgba(0, 100, 250, 0.3);
}

.dropdown-content-artes a:hover {
	background-color: rgba(250, 116, 20,0.7);
}

.dropdown-content-tecnologia a:hover {
	background-color: rgba(43, 171, 39, 0.7);
}


.dropdown:hover .dropdown-content-literatura, .dropdown:hover .dropdown-content-saúde, .dropdown:hover .dropdown-content-artes, .dropdown:hover .dropdown-content-tecnologia{
	display: block;
}


hr{
	width: 83%;
	margin-left: 0;
}

body {
	height: 100%;
}

/*cards*/

.cards{

	/*justify-content: center;*/
	margin-top: 100px;
	margin-left: 10%;
	margin-right: 10%;
	/*text-align: center; */
	width: 90%;
}


h4 {
	font-size: 100%;
	height: 10%;
	font-size: 19.7px;
	margin-top: 10px;
}

.texto {
	height: 40%;
	margin-left: 3%;
	margin-top: -0%;
}

h1 {

	font-family: 'Lato', sans-serif;
	font-weight: 500; 
	font-size: 25px;

}

.card {
	 
  /* Add shadows to create the "card" effect */
  /*box-shadow: 1px 0 0 0 rgba(0,0,0,0.1);*/
  /*transition: 0.3s;*/
  width: 308px;
  height: 409px;
  margin: 10px;
  border: 1px solid #dcdcdc;
  /*float: left*/
  display: inline-grid;
  font-family: 'Lato', sans-serif;
  font-weight: 300;
  font-size: 100%;
	transition: all 0.3s linear;
}

.card img {
	width: 100%;
	height: 220px;
}

/*
.texto {
	margin-top: -20px;
	margin-left: 3%;
	font-size: 1rem;
}*/ 

 button {
	width: 7rem;
	height: 1.5rem;
	border-radius: 6px;
	border: 1px solid white;
	background-color:  rgba(0, 91, 150, 0.9);
	float: right;
	margin-right: 1rem;

}

.literatura button a, .saúde button a, .tecnologia button a, .artes button a{
	text-decoration: none;
	color: black;
	transition: all 0.3s linear;
}

.literatura button {
	
	background-color: rgba(176,143,200,0.7);
	border: 1px solid  rgba(176,143,200,0.7);
}


.saúde button {
	background-color: rgba(186,225,255,0.7);
	border: 1px solid  rgba(186,225,255,0.7);
}



.tecnologia button {
	background-color: rgba(139, 241, 139, 0.7);
	border: 1px solid  rgba(139, 241, 139, 0.7);
}


.artes button {
	background-color: rgba(255, 233, 129, 0.7);
	border: 1px solid  rgba(255, 233, 129, 0.7);

}

.literatura button:hover {
	background-color: rgba(176,143,200,0.9);
	border: 1px solid  rgba(176,143,200,0.9);
}

.saúde button:hover {
	background-color: rgba(186,225,255,0.9);
	border: 1px solid  rgba(186,225,255,0.9);
}

.tecnologia button:hover {
	background-color: rgba(139, 241, 139, 0.9);
	border: 1px solid  rgba(139, 241, 139, 0.9);

}

.artes button:hover{
	background-color: rgba(255, 233, 129, 0.9);
	border: 1px solid  rgba(255, 233, 129, 0.9);
	
}

img	{
	width: 80%;
	height: 300px;

	display: block;
  margin-left: auto;
  margin-right: auto;
}

.tag1 {
	width: 6rem;
	margin-left: 70%; 
	/*margin-right: .5rem!important;*/
}

.tag1 button:hover {
	transform: scale(1.1);
}

p.last-update {
	display: flex;
	height: 12%;
	width: 100%;
	font-family: 'Mulish', sans-serif;
	color: rgba(0,0,0,0.6);
	font-weight: 300;
	font-size: 75.3%;
  border: 1px solid rgba(0,0,0,0.1);
  text-align: justify;
  align-items: center;
	margin-top: 11px; 
	margin-bottom: 0;

}

.card img {
	width: 100%;
	height: 50%;
}

.texto  h4 {
	margin-left: 10px;
}

.previa-post {
	margin-left: 10px;
	padding-top: 20px;
}

p.previa-post {
height: 40%;	
}

.last-update-literatura, .last-update-saúde, .last-update-tecnologia , .last-update-artes {
	margin-left: -9px;
	width: 103%;
}

.last-update-literatura{
	background-color: rgba(176,143,200,0.5);

}

.literatura {
	background-color: rgba(176,143,200,0.2);

}
.saúde {
	background-color: rgba(186,225,255,0.2);
}

.last-update-saúde{
	background-color: rgba(186,225,255,0.5);
}

.tecnologia {
	background-color: rgba(139, 241, 139, 0.2);
}


.last-update-tecnologia{
	background-color: rgba(139, 241, 139, 0.5);
}

.artes {
	background-color: rgba(255, 233, 129, 0.2);
}

.last-update-artes {
	background-color: rgba(255, 233, 129, 0.5);
}


.titulo {
	font-weight: 500;
	font-size: 1.2rem;
}


body {
	font-family: 'Lato', sans-serif;
	margin: 0;
}



/*footer*/
/*
footer	{
	color: white;
	width: 100%;
	height: 85px;
	background-color: rgba(36, 142, 56);
	display: flex;
}


.footer-literatura {
	background-color: #803387;
}

.footer-artes {
	background-color: #E66820;
		width: 100%;
	height: 85px;
}

.footer-tecnologia {
	background-color: rgb(36, 142, 30);
}

.footer-saúde {
	background-color: rgba(0, 91, 150, 0.9);
}

footer p {
	/*margin-top: -8px;*
	font-family: 'Lato', sans-serif; 
	margin-left: 10px;
	width: 17%;
	font-size: 1rem;
}



footer img{
	width: 2rem;
	height: 2rem;
  	margin: 10px;
}

.footer-imgs {
	margin-right: auto;
	margin-left: auto;
	margin-top: auto;
	margin-bottom: auto;
	display: inline-flex;
  	float: center;
  	width: 25%;
	text-align: center;
}
*/


/*footer*/
footer	{
	color: white;
	width: 100%;
	height: 100px;
	background-color: rgba(36, 142, 56);
	display: flex;
}

footer p {
	font-family: 'Lato', sans-serif; 
	margin-left: 10px;
	width: 17%;
	font-size: 1rem;

}

footer img{
	width: 30px;
	height: 30px;
  	margin: 10px;
}

.footer-imgs-container {
	margin-left: 0;
	margin-right: auto;
	margin-top: auto;
	margin-bottom: auto;
  	float: center;
  	width: 30%;
	text-align: center;
}

.email {
	width: 30%;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	height: 100px;
	margin-left: auto;
}

.footer-imgs {
	display: flex;
	width: 100%;
	justify-content: center;
	align-items: center
	margin-right: auto;
	margin-left: auto;
}

.info-footer {
	width: 90%;
	display: flex;,
	justify-content: center;
	align-items: center;
	margin-left: auto;
	margin-right: auto;
}

.footer-imgs img {
	margin-top: -5px;
}


h4.email-title, h4.img-title {
	width: 100%;
	text-align: left;
	margin-top: 0;
	font-family: sans-serif;
	font-size: 15px;

	font-weight: 300;
}

h4.img-title {
	margin-top: -10px;
}

.dropdown-media {
	display: none;
}

.email img {
	margin-top: 0px;
	width: 30px;
	height: 30px;
}

.email p {
	width: 100%;
	/*margin-top: -12px;*/
	color: rgba(250,250,250,0.7);
	margin-top: -10px;
	text-align: center;
}


.footer-literatura {
	background-color: #803387;
}

.footer-artes {
	background-color: #E66820;
}

.footer-tecnologia {
	background-color: rgb(36, 142, 30);
}

.footer-saúde {
	background-color: rgba(0, 91, 150, 0.9);
}
/*end footer*/
.pesquisar-media {
	display: none;
}

.dropdown-media-literatura, .dropdown-media-saúde, .dropdown-media-tecnologia ,.dropdown-media-artes {
	display: none; 
}

.img-tema-media {
	display: none;
}

.box-opcoes-media {
	display: none;
}




/*media-query*/
/*responsividade*/
@media only screen and (min-width: 959px) and (max-width: 1024px) {

	li {
		font-size: 0.50cm;
		padding-left:15px; 	
	}

	li a {
		
		padding-top: 14px ;
		padding-bottom: 14px;
		padding-left: 14px;
		padding-right:14px; 	
	}

	#last-a {
		margin-right: -90px;
	}

.cards {
		width: 80%;
		background-color: white;
		margin-left: auto;
		margin-right: auto;
		padding-left: 40px;
		padding-bottom: 10px;
		padding-top: 10px;
	}

	hr {
		width: 95%;
	}

	.card {
		width: 43%;
	}

	.tag1 button {
		width: 112px;
		margin-right: 20%;
	}

	p.last-update {
		margin-top: 62px;
	}


	footer p {
		margin-left: 10px;
		width: 20%;
		font-size: 1rem;
	}



	footer img{
		width: 1.8rem;
		height: 1.8rem;
	  margin: 10px;
	}

	.footer-imgs {
	  width: 30%;
	}


}

@media only screen and (max-width: 959px) {

	.opcoes-literatura, .opcoes-saúde, .opcoes-artes, .opcoes-tecnologia  {
		display: none;
	}

	.pesquisar-media {
		display: block;
		
		}

	.dropdown-media-literatura, .dropdown-media-saúde, .dropdown-media-tecnologia ,.dropdown-media-artes {
		display: block; 
	}

	.img-tema-media {
		display: block;
	}

	.box-opcoes-media {
		display: block;
	}
	/*dropdawn*/

	.dropdown-media-literatura, .dropdown-media-saúde, .dropdown-media-tecnologia ,.dropdown-media-artes{
		position: absolute;
	  display: block;
	  width: 50px;
	  height: 56px;
		margin-left: 60px;
		border: none;
	}

	.dropdown-media-literatura button {
		background-color: red;
	}

	 button#drop-a.box-opcoes-literatura, button#drop-a.box-opcoes-saúde, button#drop-a.box-opcoes-tecnologia, button#drop-a.box-opcoes-artes   {
		padding: 0;
		width: 50px;
	  height: 56px;
		border: none;
		margin-right: 0;
		background-color: rgba(0,0,0,0.0);
	}

	.box-opcoes-literatura button, .box-opcoes-saúde button, .box-opcoes-artes button, .box-opcoes-tecnologia button {
		background-color: rgb(36, 142, 56);
		border: none;
		
	}

 	.dropdown-media-literatura img, .dropdown-media-saúde img, .dropdown-media-tecnologia img,.dropdown-media-artes img{  	
 		
 		height: 40px;
  	width: 40px;
  	margin-top: 4px;
  	margin-bottom: 3px;
  	box-shadow: 0px 0px;
 	}

 	.dropdown-media-literatura img {
 		background-color: #803387;
 	}

 .dropdown-media-artes img{
 		background-color: #E66820
 	}

 	.dropdown-media-tecnologia img{
 		background-color: rgb(36, 142, 30);
 	}


 	.dropdown-media-saúde img{
 		background-color: rgb(0, 91, 150);
 	}

	#dropdown-content-literatura, 	#dropdown-content-saúde , 	#dropdown-content-artes, 	#dropdown-content-tecnologia {
		margin-top: 50px;
		text-align: center;
	  display: none; /*nao exibir opções antes do hover*/
	  position: fixed;
	  background-color:red;
	  border-radius:  0px 7px 7px 7px;
	  padding: 0;
	  width: 120px;
	  box-shadow: 4px 4px 4px 4px rgba(0,0,0,0.1);
	  z-index: 1;

	}

	#dropdown-content-literatura, 	#dropdown-content-literatura button {
		background-color: #803387;
	}

	#dropdown-content-saúde, 	#dropdown-content-saúde button {
		background-color: rgb(0, 91, 150);
	}

	#dropdown-content-artes, 	#dropdown-content-artes button{

 		background-color: #E66820
	}

	#dropdown-content-tecnologia, 	#dropdown-content-tecnologia button {
 		background-color: rgb(36, 142, 30);

	}

	.dropdown-content-temas-literatura {
	 
		background-color: #903390;
	}

	.dropdown-content-temas-saúde {

	  background-color: rgb(0, 91, 130);
	}

	.dropdown-content-temas-artes {

		background-color: #E66807;

	}

	.dropdown-content-temas-tecnologia {
	 
		background-color: rgb(40, 152, 10);
	}

	button {
		margin-right: 0;
	}

	a.box-opcoes-literatura, button.box-opcoes-literatura, a.box-opcoes-saúde, button.box-opcoes-saúde, a.box-opcoes-tecnologia, a.box-opcoes-artes {

		color: white;
	  text-decoration: none;
	  display: block;
	  font-size: 16.5px;
	  font-family: 'Lato', sans-serif;
 	 	font-weight: 400;
		border: none;
		padding-left: 0;
		margin-right: 0;
		padding-bottom: 10px;
		padding-top: 10px;
		width: 120px;

	}

	button.box-opcoes-temas {
		font-size: 17px;
	  font-family: 'Lato', sans-serif;
 	 	font-weight: 400;
		padding-bottom: 10px;
		padding-top: 0;
		border-radius: 0;
		height: 41px;
		width: 120px;
		margin-left: 0;
		border: none;
		color: white;
	}

	 #dropdown-content-literatura button, #dropdown-content-saúde button, #dropdown-content-tecnologia button,{
		border: none;
		color: white;

	}

	.box-opcoes-temas a {
		width: 120%;
	}

	/*dropdown temas*/

	.dropdown-content-temas-literatura, .dropdown-content-temas-saúde, .dropdown-content-temas-tecnologia, .dropdown-content-temas-artes {
		margin-left: 90px;
	  display: none; /*nao exibir opções antes do hover*/
	  position: absolute;
	  width: 100px;
	  border-radius:  0px 7px 7px 7px;
	  /*min-width: 160px;*/
	  box-shadow: 4px 4px 4px 4px rgba(0,0,0,0.1);
	  z-index: 1;
	}

	.dropdown-content-temas-literatura a, .dropdown-content-temas-saúde a, .dropdown-content-temas-tecnologia a, .dropdown-content-temas-artes a {
	  color: white;
	  padding-bottom: 10px;
		padding-top: 10px;
	  text-decoration: none;
	  display: block;
	  font-size: 15px;
		font-family: 'Lato', sans-serif;
	 	font-weight: 400;
	}

	#temas-a {
		width: 100%;
	}

	.dropdown-content-temas a:hover {
		background-color: rgba(34,170,34,0.9);


	  border-radius:  0px 7px 7px 7px;
	}

	.pesquisar-media {
		position: fixed;
		margin-left: 35%;
		margin-top: 12.5px;
		width: 280px;
		height: 50px;
	}

	.input-media {
		width: 88%;
		height: 30px;
		border: none;
		border-radius: 4px;
	}

	.button-media-literatura, .button-media-saúde, .button-media-artes, .button-media-tecnologia{
		height: 30px;
		width: 30px;
		color: white;
		border-radius: 4px;
		border: none;
		background-color: rgba(0,0,0,0.0);
		margin-top: 2px;

	}

	.button-media-literatura img, .button-media-artes img, .button-media-saúde img, .button-media-tecnologia img    {
		width: 25px;
		height: 25px;
		box-shadow: 0px 0px;
	}

	.img-tema-media {
		margin-top: 7px;
		position: fixed;
		margin-left: 90%;
		
	}

	.img-tema-media img {
		width: 50px;
		height: 50px;
		box-shadow: 0px 0px;
		margin-top: 3px
		background-color:red;
	}

	/*cards*/

	.cards {
		margin-top: 60px;
		width: 80%;
		background-color: white;
		margin-left: auto;
		margin-right: auto;
		padding-left: 40px;
		padding-bottom: 10px;
		padding-top: 10px;
	}

	hr {
		width: 95%;
	}

	.card {
		width: 43%;
	}

	.tag1 button {
		width: 112px;
		margin-right: 20%;
	}


	.faminismo button a, .saúde button a, .tecnologia button a, .artes button a {
		color: rgba(0,0,0,0.7);
	}

	footer p {
		width: 25%;
		font-size: 0.9rem;
	}


	footer img{
		width: 1.6rem;
		height: 1.6rem;
	  margin: 10px;
	}

	.footer-imgs {
	  width: 42%;
	}

	p.last-update {
		margin-top: 62px;
	}

}

@media only screen and (max-width: 817px) {

	/*cards*/

	.cards {
		width: 85%;
		padding-left: 10px;
		padding-bottom: 10px;
		padding-top: 10px;
	}

	h4 {
		margin-top: 12px;
	}

	hr {
		width: 95%;
	}

	.card {
		width: 45%;
		height: 400px;
	}

	.tag1 button {

		margin-top: -5px;
	}

	p.last-update {
		margin-top: 52px;
	}

	footer p {
		width: 20%;
		font-size: 0.85rem;
	}

	.footer-imgs {
	  width: 40%;
	}

}


@media only screen and (min-width: 746px) and (max-width: 774px) {

	.cards {
		width: 90%;
	}

	.card {
		font-size: 95%;
		height: 380px;
	}

	.card img {
		height: 200px;
	}

	.tag1 button {

		margin-top: 0px;
	}

	.tag1 a {
		font-size: 13.5px;

	}

	p.last-update {
		margin-top: 55px;
	}

	footer p {
		width: 25%;
		font-size: 0.85rem;
	}

	footer img{
		width: 1.5rem;
		height: 1.5rem;
	  margin: 10px;
	}

	.footer-imgs {
	  width: 45%;
	}

}


@media only screen and (max-width: 746px) {

	.cards {
		text-align: center;

	}

	.card {
		text-align: left;
		width: 60%;
		max-width: 340px;
		min-width: 320px;
	} 

	h1 {
		text-align: left;
	}

	footer p {
		width: 30%;
		font-size: 0.85rem;
	}

	footer img{
		width: 1.5rem;
		height: 1.5rem;
	  margin: 10px;
	}

	.footer-imgs {
	  width: 42%;
	}

}


@media only screen and (max-width: 570px) {
	
	.dropdown-media-literatura, .dropdown-media-saúde, .dropdown-media-tecnologia ,.dropdown-media-artes{
	
	  width: 40px;
	  height: 46px;
		margin-left: 70px;
	}	

	.pesquisar-media {

		margin-left: 27%;
		margin-top: 12.5px;
		width: 280px;
		height: 50px;
	}

	.input-media {
		width: 88%;
		height: 30px;
	}

	.button-media-literatura, .button-media-saúde, .button-media-artes, .button-media-tecnologia{
		height: 30px;
		width: 30px;
		margin-top: 2px;
	}

	.button-media-literatura img, .button-media-artes img, .button-media-saúde img, .button-media-tecnologia img    {
		width: 25px;
		height: 25px;
	}

	footer p {
		width: 45%;
		font-size: 0.7rem;
	}

	footer img{
		width: 1.3rem;
		height: 1.3rem;
	  margin: 10px;
	}

	.footer-imgs {
		margin-top: 30px;
	  width: 80%;
	}

}

.img-tema-mobile {
	display: none;
}

@media only screen and (max-width: 470px) {
	body{
		min-width: 400px;
	}

	.cards {
		min-width: 350px;
	}

	.img-tema-media {
		display: none;
	}

	.img-tema-mobile {
		display: block;
	}
	
	.pesquisar-media {

		margin-left: 30%;
		margin-top: 12.5px;
		width: 270px;
		height: 50px;
	}
	
	.input-media {
		width: 85%;
		height: 30px;
	}

	.header {
		width: 100%;
		height: 80px;
	}

	.img-tema-mobile img {
		width: 47px;
		height: 47px;
		float: right;
		margin-top: -57px;
		margin-right: 15px;
	}

	h1 {
		width: 75%;
	}

	p.last-update {
		margin-top: 50px;
	}

	 .email h4, .email p {
 	font-size: 12px;
 }

 .email h4 {
 	margin-top: -10px;
 }

 .footer-imgs-container h4 {
 	font-size: 12px;
 }

 .email img {
 	margin-top: 10px;
 	width: 20px;
 	height: 20px;
 }


.footer-imgs-container {
	
 	width: 50%;
	
}

.email {
	width: 40%;
	
}
}
