
<!--Cards-->
<div class="container-fluid"> 
  <h1>Publicações</h1>
  <div class="row">
    {%for post in posts%}
    <div class="col-lg-4 col-md-6 mb-4">
      <div class="card h-100 card-{{post.subject}}">
        <a href="#"><img class="card-img-top" src="{{post.image}}"></a>
        <div class="card-body">
          <a class="theme"  href="temas?category_name={{post.subject}}"><img class="theme-img" src="assets/{{post.subject}}.png">{{post.subject}}</a>
          <h4 class="card-title">
            <a href="/posts/{{post.id}}">{{post.title}}</a>
          </h4>
          <h5 class="create-post"><img src="assets/clock.png">{{post.created_at}}</h5>
          <p class="card-text">{{post.subtitle}}</p>

          <div class="card-footer">
            <button type="button" class="btn btn-primary btn-card"><a href="/posts/{{post.id}}">Ler mais</a></button>
         </div>
      </div>  
      </div>          
    </div>
    {%endfor%}

  </div>
  <!-- /.row -->   
</div>  
