<footer class="footer-{{posts[0].subject}}">

	<div class="info-footer">
			
			<div class="email">
				<img src="assets/gm.png">
				<p>connectvidaifba@gmail.com</p>
			</div>
			
			<div class="footer-imgs-container"> 
				<div class="footer-imgs">
					<a href="https://www.instagram.com/connectvida/"><img id="first" src="assets/insta.png"></a>
					<a href="https://youtu.be/lFUB0z-I7_0"><img src="assets/yt.png"></a>
					<a href="https://www.facebook.com/connectvida.ifba.3"> <img src="assets/facebook.png"></a>
				</div>
			</div>	
	</div>
	
					
</footer>
