<div class="container">
  <div class="messages">
    <form method="POST" action="/mensagem">
      <h4>NOS ENVIE SUA MENSAGEM</h4>
      <div class="dados">
        <input type="text" placeholder="Seu nome" name="name" required="required">
        <input type="email" placeholder="Seu email" name="email" required="required">
      </div>

      <div class="message">
        <textarea rows="4" placeholder="Deixe aqui sua mensagem..." name="body" required="required"></textarea>
      </div>

      <button type="submit" class="message-button">Enviar Mensagem</button>
    </form>
  </div>

  <div class="redes-container">
    <h1>Nos contate através das nossas redes sociais</h1>
    <div class="redes-img" >
    <a href="https://www.instagram.com/connectvida/"><img id="first" src="/assets/insta.png"></a>
    <a href=""><img src="/assets/yt.png"></a>
    <a href=""> <img src="/assets/gm.png"></a>
    </div>
  </div>
</div>