<!DOCTYPE html>
<html prefix="og: https://ogp.me/ns#">
<head>

	<link href="https://fonts.googleapis.com/css2?family=Lato:wght@300&display=swap" rel="stylesheet">

	<link href="https://fonts.googleapis.com/css2?family=Lato&display=swap" rel="stylesheet">

	<title>COnnectVIDa</title>

	<meta property="og:title" content="COnnectVIDa: Contato"/>
	<meta property="og:type" content="website"/>
	<meta property="og:url" content="http://connectvida.com.br/contato"/>
	<meta property="og:image" content="http://connectvida.com.br/assets/logo.png"/>

	<link rel="stylesheet" type="text/css" href="/styles/contato.css">
	<link rel="stylesheet" type="text/css" href="/styles/messages.css">
	
	 <meta name="viewport" content="width=device-width, initial-scale=1.0">
	<!--barra de navegação-->


</head>
<body>
	{% if error %}
      <div class="toast error">
        {{error}}
      </div>
    {% endif %}

    {% if success %}
      <div class="toast success">
        {{success}}
      </div>
    {% endif %}
  {% include 'contato/contato-header.njk'%}
  {% include 'contato/contato-index.njk'%}
  <br>
  {%include 'contato/contato-footer.njk'%}
</body>
</html>
