<!DOCTYPE html>
<html lang="en">
  <head>
    <title>COnnectVIDa</title>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"/>
    <link rel="canonical" href="https://getbootstrap.com/docs/4.0/examples/carousel/">
    <link rel="stylesheet" href="https://v4-alpha.getbootstrap.com/examples/carousel/carousel.css">
    <link href="https://fonts.googleapis.com/css2?family=Overpass:ital,wght@0,100;0,200;0,300;0,400;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,600;1,700;1,800;1,900&display=swap" rel="stylesheet">
    <script src="https://kit.fontawesome.com/36785ec993.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="/styles/contato.css"/>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>

    {% include 'main/header.njk'%}

  </head>
  <body>
    {% if error %}
    <script>
      $(document).ready(function(){
      $('.toast').toast('show');
    });
    </script>
  <div class="toast toast-error" style="position: absolute; top: 80%; right: 0;" data-delay="10000">
    <div class="toast-header">
      <strong class="mr-auto">Bootstrap</strong>
      <button type="button" class="ml-2 mb-1 close" data-dismiss="toast" aria-label="Close">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <div class="toast-body toast-body-error">
      Hello, world! This is a toast message.
    </div>
  </div>
{% endif %}
    {% if success %}
    <script>
      $(document).ready(function(){
      $('.toast').toast('show');
    });
    </script>
  <div class="toast toast-success" style="position: absolute; top: 80%; right: 0;" data-delay="10000">
    <div class="toast-header">
      <strong class="mr-auto">Bootstrap</strong>
      <button type="button" class="ml-2 mb-1 close" data-dismiss="toast" aria-label="Close">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <div class="toast-body toast-body-success">
      Hello, world! This is a toast message.
    </div>
  </div>
{% endif %}
    <div class="container-fluid contact-me">
      <div class="container container-contact">
        <form method="POST" action="/mensagem">
          <h3 class="contact-title">
            Entre em Contato</h3>
          <div class="form-group inputs-container">
            <input type="text" class="form-control" name="name" placeholder="Nome" required="required">
            <input type="email" class="form-control" name="email" placeholder="Email" required="required">
            <textarea class="form-control" rows="3" id="comment" name="body" required="required"></textarea>
          </div>
          <div class="button-send">
            <button type="submit" class="btn-send">Enviar Mensagem</button>
          </div>
        </form>
      </div>
    </div>
    {% include 'main/footer.njk'%}

    <!-- The core Firebase JS SDK is always required and must be listed first -->
    <script src="https://www.gstatic.com/firebasejs/7.20.0/firebase-app.js"></script>

    <!-- TODO: Add SDKs for Firebase products that you want to use https://firebase.google.com/docs/web/setup#available-libraries -->
    <script src="https://www.gstatic.com/firebasejs/7.20.0/firebase-analytics.js"></script>

    <script>
      // Your web app's Firebase configuration
      // For Firebase JS SDK v7.20.0 and later, measurementId is optional
      var firebaseConfig = {
        apiKey: "AIzaSyCB-CxGPummNYwquyZHd-XvzYcRWgOAhHU",
        authDomain: "connectvida-6e8fe.firebaseapp.com",
        databaseURL: "https://connectvida-6e8fe.firebaseio.com",
        projectId: "connectvida-6e8fe",
        storageBucket: "connectvida-6e8fe.appspot.com",
        messagingSenderId: "680444207265",
        appId: "1:680444207265:web:44f34ec1b601ab44ef50e0",
        measurementId: "G-CXRB1B22QW"
      };
      // Initialize Firebase
      firebase.initializeApp(firebaseConfig);
      firebase.analytics();
    </script>
  </body>
</html>