<!DOCTYPE html>
<html prefix="og: https://ogp.me/ns#">
  <head>
    <title>COnnectVIDa</title>

    <meta property="og:title" content="COnnectVIDa: {{post.title}}"/>
    <meta property="og:type" content="website"/>
    <meta property="og:url" content="http://connectvida.com.br/posts/{{post.id}}"/>
    <meta property="og:image" content="{{post.image}}"/>

    <link rel="stylesheet" type="text/css" href="/styles/post.css">

    <link href="https://fonts.googleapis.com/css2?family=Lato&display=swap" rel="stylesheet">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% include 'postagens/post-header.njk'%}
  </head>
  <body>
    <div id="fb-root"></div>
    <script async="async" defer="defer" crossorigin="anonymous" src="https://connect.facebook.net/pt_BR/sdk.js#xfbml=1&version=v8.0" nonce="ucNBGIoF"></script>
    {% include 'postagens/post-index.njk'%}
    {% include 'postagens/post-footer.njk'%}
  </body>
  <script>
    const postBody = document.querySelector('#post-body');
    const postBodyText = document.querySelector('#post-body-p');
    const postBodyInput = document.querySelector('#post-body-input');
    const newPostBodyText = postBodyText.cloneNode(true);
    postBodyText
      .parentNode
      .removeChild(postBodyText);
    newPostBodyText.innerHTML = postBodyInput.value;
    postBody.appendChild(newPostBodyText);
  </script>
</html>