<div class="container">

  <img class="img-post" src="{{post.image}}">
  <div class="header">
    <img class="tema-img-mobile" src="/assets/{{post.subject}}-black.png">
    <h1 class="title">{{post.title}}</h1>
    
  </div>
  
  <audio controls="controls">
    <source src="{{audio.src}}" type="audio/mp3" />
  </audio>

  <div class="text">
    <div id="post-body">
      <div id="post-body-p"></div>
    </div>
    <input type="hidden" id="post-body-input" value="{{post.body}}">

  {% if video %}
    <div style="text-align: center;">
      <iframe src="{{video.src}}" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
    </div>
  {% endif %}
  <p class="data-post">Publicado em:
    {{post.updated_at}}</p>
</div>

<br>

<div class="comments-container">

  <h4>{{comments.length}} COMENTÁRIOS</h4>

  {% for comment in comments %}
    <div class="comentario">
      <div class="dados-comments-container">
        <h6>{{comment.name}}</h6>
        <p class="dot">•</p>
        <p class="data">{{comment.created_at}}</p>
      </div>

      <p class="comment-text">{{comment.body}}</p>
    </div>
  {% endfor %}

</div>

<div class="comments">
  <form method="POST" action="/postcomment/{{post.id}}">
    <h4>DEIXE SEU COMENTÁRIO</h4>
    <div class="dados">
      <input type="text" placeholder="Seu nome" name="name" required="required">
      <input type="email" placeholder="Seu email" name="email" required="required">
    </div>

    <div class="comment">
      <textarea rows="4" placeholder="Deixe aqui seu comentário..." name="body" required="required"></textarea>
    </div>

    <button type="submit" class="comment-button">Enviar Comentário</button>
  </form>
</div>

<br>
