<div class="container container-topic">
    <div class="container-image">
      <img src="{{post.image}}" alt="post-image">
     
      
    </div>
    <div class="container post-container"> 
      <h3 class="title-topic">{{post.title}}</h3>
      <audio controls="controls">
        <source src="{{audio.src}}" type="audio/mp3" />
      </audio>
      <!--<span class="border-title"></span>-->
      <div class="text-container">
        <input type="hidden" id="post-body-input" value="{{post.body}}">
        <p class="text-topic">
            {{post.body |safe }}
          </p>
              
        {% if video %}
          <div style="text-align: center;">
            <iframe src="{{video.src}}" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
          </div>
        {% endif %}
      </div>

    </div>
    
    <div class="date-topic">
      Publicado em: {{post.created_at}}
    </div>
    {# FACEBOOK COMMENTS STYLE & REMOVE OLD COMMENTS SECTION #}

 <div class="fb-comments" data-href="http://www.connectvida.com.br" data-numposts="5" mobile="data-mobile" data-width="600" data-colorscheme="light"></div> 

</div>
