<!DOCTYPE html>
<html lang="en">
  <head>
    <title>COnnectVIDa</title>

    <meta property="og:title" content="COnnectVIDa: {{post.title}}"/>
    <meta property="og:type" content="website"/>
    <meta property="og:url" content="http://connectvida.com.br/posts/{{post.id}}"/>
    <meta property="og:image" content="{{post.image}}"/>

    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link
      rel="stylesheet"
      href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
    />
    <link rel="canonical" href="https://getbootstrap.com/docs/4.0/examples/carousel/">
    <link rel="stylesheet" href="https://v4-alpha.getbootstrap.com/examples/carousel/carousel.css">
    <script
      src="https://kit.fontawesome.com/36785ec993.js"
      crossorigin="anonymous"
    ></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>

    <link rel="stylesheet" type="text/css" href="/styles/post.css">

    {% include 'main/header.njk'%}

  </head>


  <body>
    {% include 'postagens/post-index.njk'%}
    {% include 'main/footer.njk'%}
  </body>
</html>
