<!DOCTYPE html>
<html>
<head>

	<link href="https://fonts.googleapis.com/css2?family=Lato:wght@300&display=swap" rel="stylesheet">

	<link href="https://fonts.googleapis.com/css2?family=Lato&display=swap" rel="stylesheet">

	<title>COnnectVIDa</title>

	<link rel="stylesheet" type="text/css" href="/styles/tema.css">

	<!--barra de navegação-->



	<div class="blue-line">
		
	</div>

</head>
<body>
  {% include 'temas-header.njk'%}
  {% include 'temas-index.njk'%}
  <br>
  {%include 'temas-footer.njk'%}
</body>
</html>
